* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Heebo', sans-serif;
}

.center {
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px);
}

@import 'top-page';
@import 'posts-page';
@import 'works-page';
@import 'footer';